.search{
    margin-top: 50px;
    width: 50%;
    height: 50px;
    bottom: 0;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.input{
    height: 100%;
    width: 92%;
    border-radius: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.3rem;
    padding-left: 0.8rem;
}

.search-icon{
    color: gray;
    font-size: 1.3em;
}

.input::placeholder{
    color: gray;
}
